.accordion {

  &-container {
    position: relative;
    padding: 10px 10px;
  }

  &-label {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;

    cursor: pointer;
    color: $color-black;

    font-family: $font-f-poppins;
    font-size: $font-22;
    font-weight: $font-w-600;

    &::before {
      content: '+';
      color: $primary-color;
      font-weight: $font-w-400;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      font-size: 1.5em;
    }
  }

  &-content {
    @include transition();

    overflow: hidden;
    height: 0;
    color: #686868;

    font-family: $font-f-poppins;
    font-size: $font-20;
    font-weight: $font-w-400;
    line-height: 160%;
    letter-spacing: 0.2px;
  }
}


.accordion {
  &-container.active {
    .accordion {
      &-content {
        height: 70px;
      }

      &-label {
        &::before {
          content: '-';
        }
      }
    }
  }
}
