.section-1 {
  .dashboard {
    &-1 {
      position: absolute;
      left: 280px;
      top: -3rem;

      z-index: 10;

      width: 328.7px;
      height: 89.4px;
      border-radius: 16.4px;
      background-color: $color-white;
    }

    &-img {
      margin: $p-0-5 $p-1;
    }

    &-title {
      position: relative;
      top: -80px;
      left: 110px;

      font-family: $font-f-poppins;
      font-size: $font-16;
      font-weight: $font-w-600;
      line-height: 140%;
      color: $color-black;

      &__description {
        position: relative;
        top: -65px;
        left: 110px;

        font-family: $font-f-poppins;
        font-size: $font-9;
        font-weight: $font-w-500;
        line-height: 140%;
        color: $color-black;
      }
    }

    &-text {
      position: relative;
      top: -65px;
      left: 270px;

      font-family: $font-f-poppins;
      font-size: $font-10;
      font-weight: $font-w-500;
      line-height: 140%;
      color: $color-dark-grey;
    }

    &-illustration {
      position: absolute;
      top: -2rem;
      left: 21rem;
    }
  }
}

.section-6 {
  .dashboard {
    &-2,
    &-3,
    &-4 {
      position: relative;

      z-index: 10;

      width: 328.7px;
      height: 89.4px;
      border-radius: 16.4px;
      background-color: $color-white;

      margin-bottom: $m-1;
    }

    &-img {
      margin: $p-0-5 $p-1;
    }

    &-title {
      position: relative;
      top: -85px;
      left: 110px;

      font-family: $font-f-poppins;
      font-size: $font-16;
      font-weight: $font-w-600;
      line-height: 140%;
      color: $color-black;

      &__description {
        position: relative;
        top: -55px;
        left: 110px;

        font-family: $font-f-poppins;
        font-size: $font-9;
        font-weight: $font-w-500;
        line-height: 140%;
        color: $color-black;
      }
    }

    &-text {
      display: flex;
      justify-content: flex-end;
      padding-right: $p-1;
      position: relative;
      top: -67px;

      font-family: $font-f-poppins;
      font-size: $font-10;
      font-weight: $font-w-500;
      line-height: 140%;
      color: $color-dark-grey;
    }

    &-cancelled {
      color: $color-red;
    }
  }
}

.signup-content .right-side {
  .around-img {
    position: absolute;
    top: 12rem;
    left: 5rem;
  }

  .dashboard-1 {
    position: absolute;
    top: 8rem;
    left: 14rem;

    z-index: 10;

    width: 344px;
    height: 88px;
    border-radius: 20px;
    background-color: $color-white;
  }

  .dashboard-img {
    position: absolute;
  }

  .img {
    position: relative;
  }

  .dashboard-title {
    position: absolute;
    top: 1.5rem;

    font-family: $font-f-poppins;
    font-size: $font-18;
    font-weight: $font-w-600;
    line-height: 140%;
    color: $color-black;

    &__description {
      position: absolute;
      top: 3rem;

      font-family: $font-f-poppins;
      font-size: $font-12;
      font-weight: $font-w-500;
      line-height: 140%;
      color: $color-black;
    }
  }

  .dashboard-text {
    position: absolute;
    top: 3.5rem;

    font-family: $font-f-poppins;
    font-size: $font-12;
    font-weight: $font-w-500;
    line-height: 140%;
    color: $color-dark-grey;
  }
}


