::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
}

html,
body {
  font-family: $font-f-poppins;

  background: $background-color;
  overflow-x: hidden;
}

body {
  margin: $m-1 auto;
}

