::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $primary-color;
}

html,
body {
  font-family: $font-f-poppins;

  background: $background-color;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;

  &-title {
    font-family: $font-f-poppins;
    font-size: 21.176px;
    font-weight: $font-w-600;
    line-height: 130%;
    color: $primary-color;

    margin-left: $p-0-5;
  }

  &-description {
    margin-left: $p-0-5;

    color: rgba(32, 31, 31, 0.20);

    font-family: $font-f-poppins;
    font-size: $font-16;
    font-weight: $font-w-600;
    line-height: 120%;
    letter-spacing: 2px;
  }
}

.line {
  border-bottom: 1px solid $color-blue-grey;
}

.card {
  position: relative;
  top: -4%;
  left: 280px;
  z-index: 10;
  width: 328.7px;
  height: 89.4px;
  border-radius: 16.4px;
  background-color: $color-white;

  &-img {
    margin: $p-0-5 $p-1;
  }

  &-title {
    position: relative;
    top: -80px;
    left: 110px;

    font-family: $font-f-poppins;
    font-size: $font-16;
    font-weight: $font-w-600;
    line-height: 140%;
    color: $color-black;

    &__description {
      position: relative;
      top: -65px;
      left: 110px;

      font-family: $font-f-poppins;
      font-size: $font-9;
      font-weight: $font-w-500;
      line-height: 140%;
      color: $color-black;
    }
  }
}