.footer {
  margin-top: $m-8;
  padding-top: $p-6;

  background-color: $background-footer-color;
  height: 20rem;
  width: 100%;


  &-top {
    @include container();
    @include flex();
    justify-content: space-between;
    padding-bottom: $p-1-5;
  }

  &-down {
    @include container();
    @include flex();
    justify-content: space-between;
    margin: $m-3 auto;
    padding-bottom: $p-1-5;

    .description {
      color: #999;

      font-family: $font-f-inter;
      font-size: $font-16;
      font-weight: $font-w-600;
    }
  }
}

@media screen and (max-width: 1260px) {
  .footer {
    &-top {
      max-width: 1000px;
    }

    &-down {
      max-width: 1000px;;
    }
  }
}


@media screen and (max-width: 1010px) {
  .footer {

    &-top {
      max-width: 90%;
    }

    &-down {
      max-width: 90%;
    }
  }
}

@media screen and (max-width: 815px) {
  .footer {
    &-top {
      max-width: 90%;
    }

    &-down {
      max-width: 90%;
    }
  }
}


@media screen and (max-width: 620px) {
  .footer {
    padding-top: 2rem;
    height: auto;

    &-top {
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      padding-bottom: $p-1-5;

      .logo {
        &-title {
          font-size: $font-18 ;
        }
      }

      .nav {
        margin-left: 0;
      }
      .navbar {
        &__lists {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          padding-top: $p-2;
        }
      }
    }

    &-down {
      max-width: 400px;
      display: block;

      .nav {
        position: relative;
        top: -21rem;
        left: 9.5rem;
        .navbar {
          &__lists {
              gap: 1rem;
          }
        }
      }

      .nav svg {
        width: 20px;
        height: 20px;
      }

      .description {
        font-size: 13px;
        display: block;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .footer {
    padding-top: 2rem;
    height: auto;

    &-top {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      padding-bottom: $p-1-5;

      .logo {
        &-title {
          font-size: $font-18 ;
        }
      }

      .nav {
        margin-left: 0;
      }

      .navbar {
        &__lists {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          padding-top: $p-2;
        }
      }
    }

    &-down {
      max-width: 300px;
      display: block;

      .nav {
        position: relative;
        top: -21rem;
        left: 5rem;

        .navbar {
          &__lists {
            gap: 1rem;
          }
        }
      }

      .nav svg {
        width: 20px;
        height: 20px;
      }

      .description {
        font-size: 13px;
        display: block;
        text-align: center;
      }
    }
  }
}

