.footer {
  bottom: 0;

  background-color: $background-footer-color;
  height: 20rem;
  width: 100%;
  padding-top: $p-6;

  &-top {
    @include container();
    @include flex();
    justify-content: space-between;
    padding-bottom: $p-1-5;
  }

  &-down {
    @include container();
    @include flex();
    justify-content: space-between;
    margin: $m-3 auto;
    padding-bottom: $p-1-5;

    .description {
      color: #999;

      font-family: $font-f-inter;
      font-size: $font-16;
      font-weight: $font-w-600;
    }
  }
}
