.section {
  padding: $p-6 0;

  &__bgr {
    width: 1240px;
    height: 334px;
    border: #6C5FBC;
    background-color: $primary-color;
  }

  &__cards {
    @include flex();
    gap: 2rem;

    &_item {
      background-color: #FFFFFF;
      border-radius: 30px;
      height: 18rem;
      box-shadow: 5.946px 71.348px 35.674px 0px rgba(229, 229, 229, 0.70);
    }
  }

  &__block {
    display: flex;

    &_description {
      width: 50%;
    }

    &_banner {
      height: 15rem;
      width: 47rem;
      border-radius: 18.7px;
      background-image: url("../../img/icons/banner.svg");
    }

    &_sorting {
      padding: $p-2;
      position: relative;
      left: 15.5rem;

      background-color: $color-white;
      width: 377px;
      height: 591px;
      border-radius: 23.801px;
      box-shadow: 5.712px 9.52px 28.561px 0.952px rgba(108, 95, 188, 0.12);
    }
  }

  &__dish {
    @include container();
    @include flex();
    justify-content: space-between;
    gap: 2rem;

    &_item {
      box-shadow: 6.848px 82.181px 41.091px 0px rgba(229, 229, 229, 0.70);
      background-color: $color-white;
      height: 24rem;
      width: 14rem;
      border-radius: 34.6px;
    }
  }

  &-1 {
    @include container();

    .block {
      &__row {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: $m-2;

        &_center {
          padding-top: 0.5rem;

          font-family: $font-f-inter;
          font-size: $font-16;
          font-weight: $font-w-500;
          line-height: 150%;
          color: $color-blue-grey;
        }
      }
    }

    .around {
      position: relative;
      width: 422px;
      height: 424px;
      top: -8%;
      left: 96px;
      background-color: $color-around;

      border-radius: 50%;

      &-img {
        position: relative;
        top: 8px;
        left: -24px;
      }
    }

    .arrow {
      position: relative;
      top: -94%;
      left: 383px;
    }
  }

  .chart {
    position: relative;
    top: -27%;
    left: -5px;
    width: 206.9px;
    height: 205.4px;
    border-radius: 16.8px;
    background-color: $color-white;
    box-shadow: 14.12px 18.827px 37.655px 0px rgba(26, 32, 44, 0.15);

    &-illustration {
      position: relative;
      top: -27%;
      left: -44px;
    }
  }


  &-2 {
    padding: $p-3 $p-20;
    background-image: url("../../img/BG.png");
    height: 13.7rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: $m-6;

    .row {
      &__items {
        @include flex();
        justify-content: space-between;
        text-align: center;

        &_title {
          margin-bottom: $m-0-5;

          font-family: $font-f-public;
          font-size: $font-43;
          font-weight: $font-w-700;
          line-height: 125%;
          color: $color-white;
        }

        &_description {
          font-family: $font-f-inter;
          font-size: $font-14;
          font-weight: $font-w-500;
          line-height: 150%;
          color: $color-lavander;
        }
      }
    }
  }

  &-3 {
    @include container();
    margin-bottom: $m-6;

    .marked {
      &__list {
        list-style: disc;
        color: $color-grey-text;
        font-family: $font-f-poppins;
        font-size: $font-20;
        font-weight: $font-w-400;
        line-height: 150%;

        &_item {
          padding-bottom: 1rem;
        }
      }

    }

    .img {
      &-vector {
        position: relative;
        top: 12%;
        left: -15px;
      }

      &-arrow-right {
        padding-left: $p-0-5;
        position: relative;
        top: 1.5%;
      }
    }
  }

  &-4,
  &-5 {
    @include container();

    .container {
      margin: $m-0-5 $m-1-5;
    }

    .card {

      &-info {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-family: $font-f-manrope;
        font-size: $font-18;
        font-weight: $font-w-400;
        line-height: 133.333%;

        color: $color-card-info;
        margin-left: $m-1-5;
        margin-top: -0.5rem;

        &--icon {
          position: relative;
          left: 21rem;
          top: -2.5rem;
        }
      }
    }

    .like {
      padding-top: $p-1;
      padding-left: 11rem;
    }

    .price {
      margin-left: $m-1-5;
      color: $color-black;
      font-family: $font-f-manrope;
      font-size: $font-25;
      font-weight: $font-w-700;
      line-height: 155.556%;

      &-grey {
        color: $color-card-info;
        font-size: $font-18;
        line-height: 40.345px;
      }
    }

    .dish {
      margin-left: $m-1;
    }
  }

  &-6 {
    @include container();

    .card-info {
      font-family: $font-f-manrope;
      font-size: $font-14;
      font-weight: $font-w-500;
      line-height: 150%;

      color: $color-card-info;
    }
  }

  &-7 {
    @include container();
  }

  .review {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  &-8 {
    @include container();
  }

  &__discount {
    width: 1214px;
    height: 260px;
    border-radius: 30px;
    background-color: $primary-color;

    &_icon {
      position: relative;
      left: 22.2rem;
      top: -16.4rem;

      &-1 {
        position: relative;
      }
    }
  }

  .input {
    padding-top: $p-4;
    padding-left: $p-4;

    &__group {
      padding-top: 1.2rem;
      padding-left: $p-1;

      width: 439.7px;
      height: 68px;
      border-radius: 14.2px;
      background-color: $color-white;
      box-shadow: 0px 7.253px 45.333px 0px rgba(0, 0, 0, 0.10);
    }

    &-text {
      color: #878787;

      font-family: $font-f-poppins;
      font-size: $font-16;
      font-weight: $font-w-400;
      letter-spacing: 0.488px;

      border: none;
      outline: none;
    }

    &-img {
      position: relative;
      top: -10rem;
      left: 55rem;
    }
  }
}




