.swiper {
  &-slide {
  }

  &-button {
    padding-top: $p-5;
    padding-bottom: $p-6;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    cursor: pointer;

    &__next {
      &:hover {
        transform: scale(1.3);
      }
    }

    &__prev {
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}