.title {
  margin-top: $m-1;
  color: $color-main-title;

  font-family: $font-f-poppins;
  font-size: $font-75;
  font-weight: $font-w-600;
  line-height: 120%;
  letter-spacing: -3px;

  &-highlight {
    color: $primary-color;
  }

  &-description {
    margin-top: $m-1;
    margin-bottom: $m-3;
    color: $color-grey-text;

    font-family: $font-f-inter;
    font-size: $font-18;

    font-weight: $font-w-400;
    line-height: 155.556%;
    opacity: 0.7;

    &__weight {
      color: $primary-color;
      font-weight: $font-w-500;
    }
  }

  &-2 {
    font-size: $font-50;
    font-weight: $font-w-700;
    line-height: 114.286%;
    margin-bottom: $m-4;
  }

  &-3 {
    color: $color-black;
    text-align: center;

    font-size: $font-45;
    font-weight: $font-w-600;
    line-height: 56.797%;

    margin-bottom: $m-4;
  }

  &-type {
    width: 65.8px;
    height: 24.8px;
    border-radius: 5.4px;
    background-color: #F7EDD0;

    color: $color-orange;

    font-family: $font-f-poppins;
    font-size: $font-12;
    font-weight: $font-w-400;
    text-align: center;
    padding: 0.4rem;

    &--red {
      width: 74px;
      height: 24.2px;
      border-radius: 5.4px;
      font-family: $font-f-poppins;
      font-size: $font-12;
      font-weight: $font-w-400;
      text-align: center;
      padding: 0.4rem;

      background-color: #F7C5BA;
      color: $color-carrot-red;
    }

    &--green {
      width: 74px;
      height: 24.2px;
      border-radius: 5.4px;
      font-family: $font-f-poppins;
      font-size: $font-12;
      font-weight: $font-w-400;
      text-align: center;
      padding: 0.4rem;

      background-color: #c1e6d0;
      color:  $color-green;
    }
  }

  &-card {
    color: $color-black;

    font-family: $font-f-poppins;
    font-size: $font-25;
    font-weight: $font-w-600;
    line-height: 162.5%;
  }

  &-info {
    display: flex;
    justify-content: space-between;
  }

  &-discount {
    padding-top: $p-2;
    padding-left: $p-4;

    color: $color-white;
    font-family: $font-f-poppins;
    font-size: $font-50;
    font-weight: $font-w-800;
  }
}

.section-6,
.section-7,
.section-2,
.section-1 {
  .title {
    &-subsection {
      color: $color-price;

      font-family: $font-f-manrope;
      font-size: $font-20;
      font-weight: $font-w-800;
      line-height: 135%;
      letter-spacing: 0.314px;
    }
  }

  .subsection {
    &-info {
      color: $color-grey-scale;

      font-family: $font-f-manrope;
      font-size: $font-14;
      font-weight: $font-w-500;
      line-height: 150%;
      letter-spacing: 0.628px;
    }
  }
}

.section-map {
  .title {
    &-subsection {
      color: $color-black;

      font-family: $font-f-poppins;
      font-size: $font-12;
      font-weight: $font-w-500;
    }
  }

  .subsection {
    &-info {
      color: $color-grey-scale;

      font-family: $font-f-poppins;
      font-size: $font-8;
      font-weight: $font-w-500;
    }
  }
}