// COLOR
$background-color: #F9F9F9;
$primary-color: #6C5FBC;
$color-around: #665AB5;
$background-footer-color: #EAEAEA;
$color-white: #FFFFFF;
$color-grey-navbar: #606060;
$color-grey-text: #676767;
$color-main-title: #201F1F;
$color-blue-grey: #334155;
$color-blue-grey: #CBD5E1;
$color-dark-grey: #ACADB9;
$color-lavander: #C5BFED;
$color-grey-scale: #A0AEC0;
$color-light-grey: #C2C3CB;
$color-customer-support: #B6B6B6;
$color-or: rgba(0, 90, 100, 0.35);
$color-orange: #DAA31A;
$color-carrot-red: #FB471D;
$color-green: #309D5B;
$color-red: #F1534E;
$color-orange-line: #FBAD18;
$color-blue: #5A85FF;
$color-black: #323142;
$color-card-info: #8E97A6;
$color-copyrights: #999999;
$box-shadow: rgba(0, 0, 0, 0.10);


// FONT-SIZE
$font-8: 8px;
$font-9: 9px;
$font-10: 10px;
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 24px;
$font-24: 24px;
$font-25: 25px;
$font-28: 28px;
$font-32: 32px;
$font-35: 35px;
$font-40: 40px;
$font-43: 43px;
$font-45: 45px;
$font-48: 48px;
$font-50: 50px;
$font-54: 54px;
$font-70: 70px;
$font-75: 75px;


// FONT-WEIGHT
$font-w-400: 400;
$font-w-500: 500;
$font-w-600: 600;
$font-w-700: 700;
$font-w-800: 800;


// FONT-FAMILY
$font-f-poppins: 'Poppins', sans-serif;
$font-f-inter: 'Inter', sans-serif;
$font-f-public: 'Public Sans', sans-serif;
$font-f-manrope: 'Manrope', sans-serif;


// PADDING
$p-0: 0;
$p-0-5: 0.5rem;
$p-1: 1rem;
$p-1-3: 1.3rem;
$p-1-5: 1.5rem;
$p-2: 2rem;
$p-3: 3rem;
$p-4: 4rem;
$p-5: 5rem;
$p-6: 6rem;
$p-10: 10rem;
$p-20: 20rem;


// MARGIN
$m-0: 0;
$m-0-5: 0.5rem;
$m-1: 1rem;
$m-1-5: 1.5rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;
$m-5: 5rem;
$m-6: 6rem;
$m-8: 8rem;
$m-10: 10rem;