*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
a {
  list-style: none;
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #6C5FBC;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background: #F9F9F9;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  position: relative;
  padding-bottom: 20rem;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-title {
  font-family: "Poppins", sans-serif;
  font-size: 21.176px;
  font-weight: 600;
  line-height: 130%;
  color: #6C5FBC;
  margin-left: 0.5rem;
}
.logo-description {
  margin-left: 0.5rem;
  color: rgba(32, 31, 31, 0.2);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 2px;
}

.line {
  border-bottom: 1px solid #CBD5E1;
}
.line-dotted {
  border-bottom: 1px dashed #323142;
  opacity: 0.7;
}

.subsection__block {
  padding: 2rem 2rem;
  width: 534px;
  height: 466.465px;
  background-color: #FFFFFF;
  border: 1px solid #EDF2F7;
  border-radius: 21.5px;
  box-shadow: 6px 82px 41px 1px rgba(50, 49, 66, 0.19);
}
.subsection__block_row {
  display: flex;
  justify-content: space-between;
}
.subsection__card {
  margin-top: 2rem;
  width: 460px;
  height: auto;
  border-radius: 18.8px;
  border: 1px solid #EDF2F7;
  padding: 1.5rem;
}
.subsection__lists {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.subsection__lists_price {
  padding-left: 6rem;
  color: #1A202C;
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0.314px;
}
.subsection__lists_scale {
  padding-top: 1.5rem;
}
.subsection-image {
  border-radius: 50%;
}
.subsection-description {
  text-align: justify;
  margin-top: 2rem;
  color: #636363;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 145%;
}
.subsection-scale {
  margin-top: 2rem;
}

.banner-text {
  padding: 2.5rem 3rem;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.banner-title {
  color: #F7F8FA;
  font-size: 75px;
}
.banner-subtitle {
  color: #7C6FCD;
  font-size: 88px;
}
.banner-image {
  position: relative;
  top: -9.5rem;
  left: 26rem;
}
.banner-illustration {
  position: relative;
  top: -33.5rem;
  left: 47rem;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.category-title {
  margin-top: 10px;
}
.category__item {
  width: 66px;
  height: 96px;
  padding-top: 16px;
  border-radius: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
  filter: drop-shadow(0px 14.71px 22.065px rgba(135, 125, 200, 0.25));
  cursor: pointer;
}
.category__item:hover {
  width: 66px;
  height: 96px;
  padding-top: 13px;
  transition-duration: 150ms;
}
.category__item_orange {
  background-color: #FFDE8A;
  color: #DAA31A;
}
.category__item_orange:hover {
  border: 3px solid #FBAD18;
}
.category__item_red {
  background-color: #F7C5BA;
  color: #FB471D;
}
.category__item_red:hover {
  border: 3px solid rgba(251, 71, 29, 0.5);
}
.category__item_darkorange {
  background-color: #EDB66B;
  color: #E28B14;
}
.category__item_darkorange:hover {
  border: 3px solid rgb(226, 139, 20);
}
.category__item_blue {
  background-color: #5A85FF;
  color: #002073;
}
.category__item_blue:hover {
  border: 3px solid rgb(0, 32, 115);
}
.category-img {
  display: inline-block;
  vertical-align: center;
}

.options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.options-item {
  padding-top: 1rem;
  color: #ACADB9;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 187.02%;
  cursor: pointer;
}
.options-item:hover {
  color: #6C5FBC;
}

.sorting {
  padding-top: 1.3rem;
}
.sorting__lists {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: -1rem;
}
.sorting__list {
  color: #C2C3CB;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 280%;
  cursor: pointer;
}
.sorting__list:hover {
  color: #6C5FBC;
}
.sorting-move {
  position: relative;
  top: -1.2rem;
  left: 2rem;
  cursor: pointer;
}

.search-form {
  position: relative;
  margin-top: 8rem;
  width: 47rem;
  height: 4.6rem;
  border-radius: 15px;
  background-color: #EAEAEA;
}
.search-button {
  position: absolute;
  top: 1.4rem;
  left: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}
.search-input {
  position: absolute;
  top: 1.4rem;
  left: 5rem;
  color: #AAABBA;
  border: none;
  appearance: none;
  outline: none;
  background: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 117.5%;
  letter-spacing: -0.411px;
}
.search-input::-webkit-search-cancel-button {
  appearance: none;
}

.switch {
  margin-top: 4rem;
}
.switch__lists {
  display: flex;
}

.btn {
  width: 121.4px;
  height: 62.5px;
  border-radius: 17.8px;
  background-color: #6C5FBC;
  padding: 1rem 1.5rem;
  text-align: center;
  color: #F9F9F9;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 26.74px;
  cursor: pointer;
}
.btn__login {
  color: #606060;
  background-color: #F9F9F9;
}
.btn__login:hover {
  opacity: 0.3;
}
.btn__submit {
  border-radius: 12.4px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.163px;
}
.btn__submit:hover {
  opacity: 0.3;
}
.btn__switch {
  padding-top: 1.3rem;
  border-radius: 12.4px;
  border: 1px solid #6C5FBC;
  background-color: #F9F9F9;
  color: #6C5FBC;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.163px;
  margin-left: 1rem;
}
.btn__switch-off {
  margin-left: 0;
  display: block;
  width: 377px;
  height: 75px;
  font-size: 20px;
  border-radius: 15.138px 0px 0px 15.138px;
  border: 2.171px solid #6C5FBC;
  background: #F3F5F6;
  box-shadow: 0px 21.785px 48.411px 0px rgba(211, 209, 216, 0.25);
}
.btn__switch-off:active {
  opacity: 0.3;
}
.btn__switch-on {
  padding-top: 1.3rem;
  width: 377px;
  height: 75px;
  display: block;
  font-size: 20px;
  border-radius: 0px 15.138px 15.138px 0px;
  background: #6C5FBC;
  box-shadow: 0px 21.785px 48.411px 0px rgba(211, 209, 216, 0.25);
}
.btn__switch-on:active {
  opacity: 0.3;
}
.btn__view {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 5rem;
  color: #ACADB9;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 225.921%;
  letter-spacing: -0.1px;
}
.btn__view:hover {
  opacity: 0.3;
}
.btn__add {
  display: inline-block;
  text-align: center;
  padding-top: 0.5rem;
  margin-left: 4rem;
  width: 40px;
  height: 43px;
  border-radius: 8.9px;
  font-size: 28px;
  color: #FFFFFF;
  background-color: #323142;
  cursor: pointer;
}
.btn__add:hover {
  opacity: 0.3;
}
.btn__down {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: -0.7rem;
  width: 10rem;
  height: 3.3rem;
  border-radius: 12.6px;
  border: none;
  background-color: #FAFAFA;
  color: #1A202C;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.628px;
  cursor: pointer;
}
.btn__down:hover {
  background-color: #CBD5E1;
  opacity: 0.3;
}
.btn__subscribe {
  color: #F7F8FA;
  background-color: #6C5FBC;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.443px;
  margin-left: 6rem;
}
.btn-minus {
  width: 33px;
  height: 31px;
  border-radius: 9.91px;
  background: #FFFFFF;
  border: 1px solid #323142;
  color: #323142;
  font-size: 18px;
  cursor: pointer;
}
.btn-plus {
  width: 33px;
  height: 31px;
  border-radius: 9.91px;
  background: #323142;
  color: #FFFFFF;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.btn__apply {
  display: inline-block;
  width: 19rem;
  height: 3.75rem;
  border-radius: 13.6px;
  background-color: #6C5FBC;
  margin-top: 1.5rem;
  color: #F9F9F9;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: -0.137px;
}
.btn__review {
  padding-top: 1.4rem;
  width: 681px;
  height: 77px;
  border-radius: 15px;
  color: #FFF3EB;
  background-color: #6C5FBC;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.2px;
}
.btn__review:hover {
  opacity: 0.3;
}

.swiper {
  width: 100%;
  height: auto;
}
.swiper-wrapper {
  width: 100%;
  height: auto;
}
.swiper-scrollbar-custom {
  padding-left: 4rem;
  background: #6C5FBC;
  width: 900px;
  height: 10px;
  border-radius: 10px;
  bottom: 0;
  background: #6C5FBC;
  opacity: 0.3;
}
.swiper-scrollbar-custom-drag {
  background-color: #6C5FBC;
}
.swiper-slide:not(.swiper-slide-active) {
  filter: blur(1px);
}

.accordion-container {
  position: relative;
  margin: 10px 10px;
}
.accordion-container .top {
  display: flex;
  justify-content: space-between;
}
.accordion-label {
  position: relative;
  color: #323142;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 252.982%;
  cursor: pointer;
}
.accordion-label::before {
  position: absolute;
  top: 52%;
  right: -5px;
  transform: translateY(-50%);
}
.accordion-content {
  position: relative;
  padding-top: 5px;
  margin-bottom: 1rem;
  height: 0;
  overflow: hidden;
  transition: all 0.5s linear;
  color: #686868;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.2px;
}

.accordion .accordion-container.active .accordion-content {
  height: 150px;
  padding: 10px;
}

.accordion .accordion-container.active .accordion-label::before {
  content: url("../../img/icons/minus.svg");
  content: "-";
}

.nav {
  margin-left: 6rem;
}

.navbar__lists {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 3.3rem;
}
.navbar__link {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 26.74px;
  color: #606060;
  cursor: pointer;
}
.navbar__link:hover {
  transition: all 0.3s;
  color: #6C5FBC;
}

.account__lists {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  margin-top: 1rem;
  color: #201F1F;
  font-family: "Poppins", sans-serif;
  font-size: 75px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -3px;
}
.title-highlight {
  color: #6C5FBC;
}
.title-description {
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #676767;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 155.556%;
  opacity: 0.7;
}
.title-description__weight {
  color: #6C5FBC;
  font-weight: 500;
}
.title-2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 114.286%;
  margin-bottom: 4rem;
}
.title-3 {
  color: #323142;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  line-height: 56.797%;
  margin-bottom: 4rem;
}
.title-type {
  width: 65.8px;
  height: 24.8px;
  border-radius: 5.4px;
  background-color: #F7EDD0;
  color: #DAA31A;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 0.4rem;
}
.title-type--red {
  width: 74px;
  height: 24.2px;
  border-radius: 5.4px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 0.4rem;
  background-color: #F7C5BA;
  color: #FB471D;
}
.title-type--green {
  width: 74px;
  height: 24.2px;
  border-radius: 5.4px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding: 0.4rem;
  background-color: #c1e6d0;
  color: #309D5B;
}
.title-card {
  color: #323142;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 162.5%;
}
.title-info {
  display: flex;
  justify-content: space-between;
}
.title-discount {
  padding-top: 2rem;
  padding-left: 4rem;
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 800;
}

.section-6 .title-subsection,
.section-7 .title-subsection,
.section-2 .title-subsection,
.section-1 .title-subsection {
  color: #1A202C;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 135%;
  letter-spacing: 0.314px;
}
.section-6 .subsection-info,
.section-7 .subsection-info,
.section-2 .subsection-info,
.section-1 .subsection-info {
  color: #A0AEC0;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.628px;
}

.section-map .title-subsection {
  color: #323142;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
}
.section-map .subsection-info {
  color: #A0AEC0;
  font-family: "Poppins", sans-serif;
  font-size: 8px;
  font-weight: 500;
}

.header {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem auto;
  padding-bottom: 1.5rem;
}
.header-left {
  display: flex;
  align-items: center;
  width: 60%;
}

.section {
  padding: 6rem 0;
}
.section__bgr {
  width: 1240px;
  height: 334px;
  border: #6C5FBC;
  background-color: #6C5FBC;
}
.section__cards {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.section__cards_item {
  background-color: #FFFFFF;
  border-radius: 30px;
  height: 18rem;
  box-shadow: 5.946px 71.348px 35.674px 0px rgba(229, 229, 229, 0.7);
}
.section__block {
  display: flex;
}
.section__block_description {
  width: 50%;
}
.section__block_banner {
  height: 15rem;
  width: 47rem;
  border-radius: 18.7px;
  background-image: url("../../img/icons/banner.svg");
}
.section__block_sorting {
  padding: 2rem;
  position: relative;
  left: 15.5rem;
  background-color: #FFFFFF;
  width: 377px;
  height: 591px;
  border-radius: 23.801px;
  box-shadow: 5.712px 9.52px 28.561px 0.952px rgba(108, 95, 188, 0.12);
}
.section__dish {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.section__dish_item {
  box-shadow: 6.848px 82.181px 41.091px 0px rgba(229, 229, 229, 0.7);
  background-color: #FFFFFF;
  height: 24rem;
  width: 14rem;
  border-radius: 34.6px;
}
.section-1 {
  max-width: 1240px;
  margin: 0 auto;
}
.section-1 .block__row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.section-1 .block__row_center {
  padding-top: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  color: #CBD5E1;
}
.section-1 .around {
  position: relative;
  width: 422px;
  height: 424px;
  top: -8%;
  left: 96px;
  background-color: #665AB5;
  border-radius: 50%;
}
.section-1 .around-img {
  position: relative;
  top: 8px;
  left: -24px;
}
.section-1 .arrow {
  position: relative;
  top: -94%;
  left: 383px;
}
.section .chart {
  position: relative;
  top: -27%;
  left: -5px;
  width: 206.9px;
  height: 205.4px;
  border-radius: 16.8px;
  background-color: #FFFFFF;
  box-shadow: 14.12px 18.827px 37.655px 0px rgba(26, 32, 44, 0.15);
}
.section .chart-illustration {
  position: relative;
  top: -27%;
  left: -44px;
}
.section-2 {
  padding: 3rem 20rem;
  background-image: url("../../img/BG.png");
  height: 13.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 6rem;
}
.section-2 .row__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.section-2 .row__items_title {
  margin-bottom: 0.5rem;
  font-family: "Public Sans", sans-serif;
  font-size: 43px;
  font-weight: 700;
  line-height: 125%;
  color: #FFFFFF;
}
.section-2 .row__items_description {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: #C5BFED;
}
.section-3 {
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.section-3 .marked__list {
  list-style: disc;
  color: #676767;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}
.section-3 .marked__list_item {
  padding-bottom: 1rem;
}
.section-3 .img-vector {
  position: relative;
  top: 12%;
  left: -15px;
}
.section-3 .img-arrow-right {
  padding-left: 0.5rem;
  position: relative;
  top: 1.5%;
}
.section-4, .section-5 {
  max-width: 1240px;
  margin: 0 auto;
}
.section-4 .container, .section-5 .container {
  margin: 0.5rem 1.5rem;
}
.section-4 .card-info, .section-5 .card-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 133.333%;
  color: #8E97A6;
  margin-left: 1.5rem;
  margin-top: -0.5rem;
}
.section-4 .card-info--icon, .section-5 .card-info--icon {
  position: relative;
  left: 21rem;
  top: -2.5rem;
}
.section-4 .like, .section-5 .like {
  padding-top: 1rem;
  padding-left: 11rem;
}
.section-4 .price, .section-5 .price {
  margin-left: 1.5rem;
  color: #323142;
  font-family: "Manrope", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 155.556%;
}
.section-4 .price-grey, .section-5 .price-grey {
  color: #8E97A6;
  font-size: 18px;
  line-height: 40.345px;
}
.section-4 .dish, .section-5 .dish {
  margin-left: 1rem;
}
.section-6 {
  max-width: 1240px;
  margin: 0 auto;
}
.section-6 .card-info {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: #8E97A6;
}
.section-7 {
  max-width: 1240px;
  margin: 0 auto;
}
.section .review {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.section-8 {
  max-width: 1240px;
  margin: 0 auto;
}
.section__discount {
  width: 1214px;
  height: 260px;
  border-radius: 30px;
  background-color: #6C5FBC;
}
.section__discount_icon {
  position: relative;
  left: 22.2rem;
  top: -16.4rem;
}
.section__discount_icon-1 {
  position: relative;
}
.section .input {
  padding-top: 4rem;
  padding-left: 4rem;
}
.section .input__group {
  padding-top: 1.2rem;
  padding-left: 1rem;
  width: 439.7px;
  height: 68px;
  border-radius: 14.2px;
  background-color: #FFFFFF;
  box-shadow: 0px 7.253px 45.333px 0px rgba(0, 0, 0, 0.1);
}
.section .input-text {
  color: #878787;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.488px;
  border: none;
  outline: none;
}
.section .input-img {
  position: relative;
  top: -10rem;
  left: 55rem;
}

.section-menu .heading {
  display: flex;
  justify-content: space-between;
}
.section-menu .heading-line {
  display: flex;
  justify-content: flex-start;
}
.section-menu .title-3 {
  display: block;
}
.section-menu .btn__view {
  display: block;
  margin: 0;
}

.section-questions {
  max-width: 1240px;
  margin: 0 auto;
}
.section-questions__illustration {
  position: relative;
  top: -12.7rem;
  left: 51.5rem;
}

.section-banner .banner-container {
  text-align: center;
  border-radius: 30px;
  border: 1.593px solid #F4F4F6;
  background: #FFFFFF;
  box-shadow: 7.572px 90.862px 45.431px 0px rgba(229, 229, 229, 0.7);
}
.section-banner .banner-content {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-banner .title-card {
  font-size: 40px;
  line-height: 133%;
}
.section-banner .card-info {
  display: inline-flex;
  gap: 0.5rem;
  color: #8E97A6;
  font-family: "Manrope", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 133%;
}
.section-banner .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 700px;
}

.section-popular .heading {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.section-popular .heading-img {
  position: relative;
  top: 0.4rem;
  left: 0.5rem;
}

.section-chicken .title-3 {
  text-align: left;
}
.section-chicken .section__dish {
  justify-content: flex-start;
}

.section-map {
  max-width: 1240px;
  margin: 0 auto;
}
.section-map .background {
  position: relative;
  height: 733px;
  background-image: url("../../img/Map.svg");
  background-repeat: no-repeat;
}
.section-map .card-location {
  position: absolute;
  top: 4.5rem;
  left: 21rem;
  width: 167px;
  height: 69px;
  border-radius: 8.52px;
  background-color: #FFFFFF;
}
.section-map .card-location .wrapper .subsection__lists {
  margin: 0.7rem;
}
.section-map .card-address {
  position: absolute;
  top: 20rem;
  left: 1.5rem;
  padding: 1.3rem;
  width: 167px;
  height: 69px;
  border-radius: 8.52px;
  background-color: #FFFFFF;
  color: #ACADB9;
  font-family: "Poppins", sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 140%;
}
.section-map .card-circle {
  position: absolute;
  top: 5.3rem;
  left: 4.7rem;
}
.section-map .card-line {
  position: absolute;
  top: 4.3rem;
  left: 5rem;
}
.section-map .card-pointer {
  position: absolute;
  top: 17.5rem;
  left: 5.5rem;
  z-index: 10;
}
.section-map .card-details {
  position: absolute;
  top: 39rem;
  left: 23rem;
  width: 472.336px;
  height: 321.451px;
  background-color: #FFFFFF;
  border-radius: 24.9px;
}
.section-map .card-details .wrapper {
  border-radius: 24.9px 24.9px 0 0;
  height: 107.588px;
  background-color: #323142;
}
.section-map .card-details .wrapper .subsection__lists {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.section-map .card-details .wrapper .subsection__lists .title {
  margin: 0 auto;
  color: #F3F5F6;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
}
.section-map .card-details .wrapper .subsection__lists .info {
  margin: 0 auto;
  color: #ACADB9;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.section-map .detail-info {
  margin: 2.5rem;
  position: relative;
}
.section-map .detail-info .detail__lists {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1.3rem;
}
.section-map .detail-info .subsection-info {
  font-size: 12px;
  line-height: 140%;
}
.section-map .detail-info .subsection-text {
  color: #323142;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}
.section-map .detail-info .btn__submit {
  width: 131.204px;
  height: 41.985px;
  font-size: 14px;
  padding-top: 0.5rem;
  position: absolute;
  top: 6.5rem;
  left: 17.5rem;
}
.section-map .connector {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
}

.section-total {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 3rem;
}
.section-total .cart {
  margin: 1rem;
  padding: 0.5rem;
  width: 681px;
  height: 109px;
  border-radius: 11.9px;
  background-color: #FFFFFF;
}
.section-total .cart-illustration {
  position: relative;
  top: 1.3rem;
  left: 24rem;
}
.section-total .cart-wrapper {
  display: flex;
  justify-content: space-between;
}
.section-total .cart .title-subsection {
  padding-bottom: 0.5rem;
  color: #323142;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
}
.section-total .cart .subsection-info {
  color: #323142;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}
.section-total .cart .quantity {
  color: #323142;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}
.section-total .cart .overall-amount {
  color: #323142;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
}
.section-total .cart .subsection__lists_right {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section-total .cart .subsection__list_add {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 0.5rem;
}
.section-total .section-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-total .section-payment .coupon {
  width: 680px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 0.5rem;
}
.section-total .section-payment .coupon .input-coupon {
  background: url("../../img/icons/coupon.svg") no-repeat 2rem 27px;
  background-color: transparent;
  color: #C2C3CB;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 117.5%;
  letter-spacing: -0.36px;
  border: none;
  outline: none;
  padding: 1.5rem 4rem;
}
.section-total .section-payment .coupon .input-coupon::-webkit-search-cancel-button {
  appearance: none;
}
.section-total .total {
  margin: 3rem 0 3rem 0;
  position: relative;
}
.section-total .total__lists {
  width: 680px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0;
}
.section-total .total__item {
  color: #323142;
  opacity: 0.7;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 117.5%;
  letter-spacing: -0.4px;
}
.section-total .total-main__item {
  color: #323142;
  font-size: 25px;
  font-weight: 600;
  line-height: 117.5%;
  letter-spacing: -0.5px;
  padding-top: 0.5rem;
}

.arrow-button__left {
  position: relative;
  top: 49rem;
  left: 7rem;
}
.arrow-button__right {
  position: relative;
  top: 49rem;
  left: 54rem;
}

.section-1 .dashboard-1 {
  position: relative;
  top: -4%;
  left: 280px;
  z-index: 10;
  width: 328.7px;
  height: 89.4px;
  border-radius: 16.4px;
  background-color: #FFFFFF;
}
.section-1 .dashboard-img {
  margin: 0.5rem 1rem;
}
.section-1 .dashboard-title {
  position: relative;
  top: -80px;
  left: 110px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  color: #323142;
}
.section-1 .dashboard-title__description {
  position: relative;
  top: -65px;
  left: 110px;
  font-family: "Poppins", sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 140%;
  color: #323142;
}
.section-1 .dashboard-text {
  position: relative;
  top: -65px;
  left: 270px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 140%;
  color: #ACADB9;
}
.section-1 .dashboard-illustration {
  position: relative;
  top: -190px;
  left: 340px;
}

.section-6 .dashboard-2, .section-6 .dashboard-3, .section-6 .dashboard-4 {
  position: relative;
  z-index: 10;
  width: 328.7px;
  height: 89.4px;
  border-radius: 16.4px;
  background-color: #FFFFFF;
  margin-bottom: 1rem;
}
.section-6 .dashboard-img {
  margin: 0.5rem 1rem;
}
.section-6 .dashboard-title {
  position: relative;
  top: -85px;
  left: 110px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  color: #323142;
}
.section-6 .dashboard-title__description {
  position: relative;
  top: -55px;
  left: 110px;
  font-family: "Poppins", sans-serif;
  font-size: 9px;
  font-weight: 500;
  line-height: 140%;
  color: #323142;
}
.section-6 .dashboard-text {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  position: relative;
  top: -67px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 140%;
  color: #ACADB9;
}
.section-6 .dashboard-cancelled {
  color: #F1534E;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #EAEAEA;
  height: 20rem;
  width: 100%;
  padding-top: 6rem;
}
.footer-top {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}
.footer-down {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem auto;
  padding-bottom: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
